params {
  publishDirMode = "copy"
  resultsDir = "output"
  deployDir = "deploy"
}

process {
  cpus = 1
}

timeline.enabled = true
timeline.overwrite = true
timeline.file = "output/nxf-timeline.html"

report.enabled = true
report.overwrite = true
report.file = "output/nxf-report.html"

resume = true

// Define executor profiles
profiles {
  // default: local executor 
  standard {
    executor {
      cpus = 32
    }
  }
  // add your HPC configuration here...
}

