manifest {
    name            = 'elwazi/fedimpute'
    author          = """Ayton Meintjes / Mamana Mbiyavanga"""
    homePage        = 'https://github.com/elwazi/fedimpute'
    description     = """Genotype imputation workflow to be executed on GA4GH-compliant WES instances"""
    mainScript      = 'main.nf'
    version         = '1.0'
}

params {
  publishDirMode = "copy"
  resultsDir = "output"
  deployDir = "deploy"
}

process {

    withLabel: bcftools {
         container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_1'
    }

  cpus = 1
}

timeline.enabled = true
timeline.overwrite = true
timeline.file = "output/nxf-timeline.html"

report.enabled = true
report.overwrite = true
report.file = "output/nxf-report.html"

resume = true

// Define executor profiles
profiles {
  // default: local executor 
  standard {
    executor {
      cpus = 32
    }
  }
  // add your HPC configuration here...
}

 docker {
    enabled = true
    runOptions = '--network host -u $(id -u):$(id -g)'
 }

includeConfig 'conf/test.config'
